<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpServlet</servlet-name>
        <servlet-class>servlets.SignUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LockAccountsServlet</servlet-name>
        <servlet-class>servlets.LockAccountsServle  t</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddReviewServlet</servlet-name>
        <servlet-class>servlets.AddReviewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>servlets.AddToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddManagerServlet</servlet-name>
        <servlet-class>servlets.AddManagerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UnlockAccountServlet</servlet-name>
        <servlet-class>servlets.UnlockAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminPageServlet</servlet-name>
        <servlet-class>servlets.AdminPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GeneralIndexServlet</servlet-name>
        <servlet-class>servlets.GeneralIndexServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditUserDetailsServlet</servlet-name>
        <servlet-class>servlets.EditUserDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterSalesServlet</servlet-name>
        <servlet-class>servlets.FilterSalesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductServlet</servlet-name>
        <servlet-class>servlets.AddProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductListServlet</servlet-name>
        <servlet-class>servlets.ProductListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowUserDetailsServlet</servlet-name>
        <servlet-class>servlets.ShowUserDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductManagerPageServlet</servlet-name>
        <servlet-class>servlets.ProductManagerPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountingManagerPageServlet</servlet-name>
        <servlet-class>servlets.AccountingManagerPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProductDetailsServlet</servlet-name>
        <servlet-class>servlets.EditProductDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductsServlet</servlet-name>
        <servlet-class>servlets.DeleteProductsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewProductServlet</servlet-name>
        <servlet-class>servlets.ViewProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutServlet</servlet-name>
        <servlet-class>servlets.CheckoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckIfLoggedInServlet</servlet-name>
        <servlet-class>servlets.CheckIfLoggedInServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckIfBoughtServlet</servlet-name>
        <servlet-class>servlets.CheckIfBoughtServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpServlet</servlet-name>
        <url-pattern>/SignUpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LockAccountsServlet</servlet-name>
        <url-pattern>/LockAccountsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddReviewServlet</servlet-name>
        <url-pattern>/AddReviewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/AddToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddManagerServlet</servlet-name>
        <url-pattern>/AddManagerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UnlockAccountServlet</servlet-name>
        <url-pattern>/UnlockAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminPageServlet</servlet-name>
        <url-pattern>/AdminPageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GeneralIndexServlet</servlet-name>
        <url-pattern>/GeneralIndexServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditUserDetailsServlet</servlet-name>
        <url-pattern>/EditUserDetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterSalesServlet</servlet-name>
        <url-pattern>/FilterSalesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductServlet</servlet-name>
        <url-pattern>/AddProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductListServlet</servlet-name>
        <url-pattern>/ProductListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowUserDetailsServlet</servlet-name>
        <url-pattern>/ShowUserDetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductManagerPageServlet</servlet-name>
        <url-pattern>/ProductManagerPageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountingManagerPageServlet</servlet-name>
        <url-pattern>/AccountingManagerPageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProductDetailsServlet</servlet-name>
        <url-pattern>/EditProductDetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductServlet</servlet-name>
        <url-pattern>/DeleteProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewProductServlet</servlet-name>
        <url-pattern>/ViewProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutServlet</servlet-name>
        <url-pattern>/CheckoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckIfLoggedInServlet</servlet-name>
        <url-pattern>/CheckIfLoggedInServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckIfBoughtServlet</servlet-name>
        <url-pattern>/CheckIfBoughtServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
